body {
    background-color: rgba(72, 255, 0, 0.308);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;

}

p {
    color: rgb(0, 0, 0);
    font-size: large;
    padding: 10px;
    font-style: Arial;
}